################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/EasyLog/obj
/EasySave/.vs/EasySave
/EasySave/EasySave/obj
/EasySave/.vs/ProjectEvaluation
/EasySave/EasySave/bin/Debug/net8.0
/EasyLog/bin/Debug/net8.0
